<div class="header">
	<h1>Secretarios</h1>
	<p>En esta sección podras adminsitrar y ver todas los secretarios registradas.</p>
</div>
  
<div class="createCarreraButton">
	<p>Crear Secretario</p>
	<button type="button" class="btn btn-primary rounded-pill" (click)="openCreateCarreraDialog()">+</button>
</div>

<table class="table table-striped">
	<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">Nombre</th>
		<th scope="col">Correo</th>
		<th scope="col">Carrera</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let secretario of secretarios">
		<th scope="row">{{ secretario.id }}</th>
		<td>
			{{ secretario.name }}
		</td>
		<td>
			{{ secretario.email }}
		</td>
		<td>
			{{ secretario.carrera.toString() | getNombreCarreraById }}
		</td>
		<td>
			<button type="button" class="btn btn-danger" (click)="deleteSecretario(secretario.id)">Borrar</button>
			<button type="button" class="btn btn-warning">Editar</button>
		</td>
	</tr>
	</tbody>
</table>