<h2 mat-dialog-title>Crear Secretario</h2>

<form [formGroup]="form" (ngSubmit)="saveSecretario($event)">

  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" formControlName="name">
    <small class="form-text text-muted" *ngIf="nameField!.hasError('required') && nameField!.touched">Este campo es obligatorio</small>
  </div>

  <div class="form-group">
    <label>Correo</label>
    <input type="email" class="form-control" formControlName="email">
    <small class="form-text text-muted" *ngIf="emailField!.hasError('required') && emailField!.touched">Este campo es obligatorio</small>
    <small class="form-text text-muted" *ngIf="emailField!.hasError('not_ucm_email') && emailField!.touched">El email debe ser institucional</small>
    <small class="form-text text-muted" *ngIf="emailField!.hasError('notAvailable') && emailField!.touched">Este email ya está registrado</small>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Carrera</label>
    <select class="form-control" id="exampleFormControlSelect1" formControlName="carrera">
      <option *ngFor="let carrera of carrerasSinSecretario" [value]="carrera.id">{{ carrera.nombre }}</option>
    </select>
  </div>

  <div>
    <button type="submit" class="btn btn-success" [mat-dialog-close]="true" [disabled]="form.invalid">Guardar</button>
    <button type="button" class="btn btn-dark" mat-dialog-close>Cancelar</button>
  </div>

</form>